n8n/meeting-to-clickup.workflow.json
{
  "name": "Meeting → ClickUp tasks",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ef3663b7-f408-44c1-a190-48c25ca38c94",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-5",
          "mode": "list",
          "cachedResultName": "claude-sonnet-5"
        },
        "messages": {
          "values": [
            {
              "content": "You are a product operations lead. Read the meeting transcript at the bottom and turn it into ClickUp-ready tasks.\n\nOutput the tasks as PLAIN TEXT ONLY — not JSON, not markdown. Use this exact block, repeated for each task:\n\n===TASK===\nname: [Area][Type] Short imperative title\npriority: 2\ntags: tag1, tag2\ndescription: One or two sentences describing the task and why it matters, all on the fields lines.\n\nRules:\n- priority is a single digit: 1=Urgent, 2=High, 3=Normal, 4=Low. A user-facing crash is 1.\n- [Type] is one of Dev, Design, QA, Product. [Area] is the product area.\n- Create one task per action item and one per bug. Ground everything in the transcript; do not invent.\n- Begin every task with a line containing exactly ===TASK===\n- Keep the four field labels exactly: name, priority, tags, description — in that order.\n- Do not write anything before the first ===TASK=== or after the last task.\n\nTRANSCRIPT:\nWeekly Product Sync — Northwind mobile marketplace app\nAttendees: Dana (Product), Marco (Engineering), Priya (Design), Sam (QA)\n\nDana: Main thing today is the checkout redesign, then the crash reports from last week. Marco, where is checkout?\nMarco: The new checkout flow is code-complete on the happy path — add to cart, pick shipping, pay with card. Saved cards are NOT done — the payment provider sandbox keeps rejecting our test tokens. I have a ticket open, no answer yet.\nDana: Can we ship checkout without saved cards?\nMarco: Yes, saved cards can be a fast-follow. If the provider replies this week we squeeze it in, otherwise next sprint.\nPriya: On checkout design the error states are bad. A failed payment just shows a generic error banner. I have designs to show the real reason like card declined, expired, or network. Someone needs to wire it up.\nMarco: I can take that, about half a day once copy is final.\nDana: Priya, also get the decline copy reviewed by legal, some of it has compliance wording.\nDana: QA — Sam, the crash reports.\nSam: Since the last release there is a spike in crashes on the product detail screen, about 4 percent of Android sessions, almost nothing on iOS. It happens when a product has no images and the image carousel hits a null.\nMarco: We never handle the empty-images case. I will put Alex on it tomorrow to show a placeholder when there are no photos, but we must test it, the carousel is shared across screens.\nSam: I will write regression tests for the empty-images path and re-run t"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "e68cdc75-e054-45cc-bb11-4dd87e59be40",
      "name": "Message a model"
    },
    {
      "parameters": {
        "jsCode": "// Get Claude's text block (skip the \"thinking\" block)\nconst content = $input.first().json.content || [];\nconst textBlock = content.find(c => c.type === 'text') || content[0] || {};\nconst raw = (textBlock.text || '').trim();\n\n// Each task starts with a \"name:\" line -- split on it\n// (works whether or not ===TASK=== markers are present)\nconst chunks = raw.split(/(?=^[ \\t]*name:)/im).filter(c => /name:/i.test(c));\n\nconst tasks = chunks.map(block => {\n  const name = ((block.match(/name:\\s*(.+)/i) || [])[1] || '').trim();\n  const priority = Number((block.match(/priority:\\s*(\\d)/i) || [])[1] || 3);\n  const tags = ((block.match(/tags:\\s*(.+)/i) || [])[1] || '')\n    .split(',').map(t => t.trim()).filter(Boolean);\n  let description = (block.match(/description:\\s*([\\s\\S]*)/i) || [])[1] || '';\n  description = description.replace(/={3,}\\s*TASK\\s*={3,}[\\s\\S]*$/i, '').replace(/={3,}\\s*$/, '').trim();\n  return { name, priority, tags, description };\n})\n// drop junk chunks: the name must be meaningful\n.filter(t => t.name.replace(/[\\[\\]\\s]/g, '').length > 3);\n\nreturn tasks.map(t => ({ json: t }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "244b3fe1-7ff6-4549-b36f-6ecc81750937",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "team": "90182854498",
        "space": "901811763971",
        "folderless": true,
        "list": "901819369543",
        "name": "={{ $json.name }}",
        "additionalFields": {
          "content": "={{ $json.description }}\n",
          "priority": "={{ $json.priority }}"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "07db141b-f078-44c8-9c68-898a7cb7dc79",
      "name": "Create a task"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}